# file options
--swiftversion 5.3

# rules
--enable anyObjectProtocol
--enable blankLinesAroundMark
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable blankLinesBetweenScopes
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable duplicateImports
--enable emptyBraces
--enable initCoderUnavailable
--enable isEmpty
--enable isEmpty
--enable leadingDelimiters
--enable numberFormatting
--enable preferKeyPath
--enable redundantBackticks
--enable redundantBreak
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantObjc
--enable redundantParens
--enable redundantPattern
--enable redundantRawValues
--enable redundantRawValues
--enable redundantReturn
--enable redundantVoidReturnType
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable spaceInsideParens
--enable todos
--enable trailingCommas
--enable wrapEnumCases
--disable linebreakAtEndOfFile
--disable wrapSwitchCases

# options
--allman false
--decimalgrouping 3
--elseposition same-line
--extensionacl on-extension
--guardelse auto
--header ignore
--importgrouping alphabetized
--indent 4
--maxwidth 120
--patternlet hoist
--redundanttype inferred
--semicolons inline
--stripunusedargs always
--voidtype void